/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

* {
  box-sizing: border-box;
}

$custom-typography: mat-typography-config(
  $font-family: 'Oswald',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);