.checkIn-card {
    max-width: 400;
}

.checkIn-content {
    text-align: center;
}

.checkIn-count {
    font-size: xxx-large;  
}

.checkIn-last-date {
    font-size: x-small;
}

.checkIn-actions {
    align-items: center;
}